VITE_SUPABASE_URL=https://kdtmhszgoicseqlrbwiu.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtkdG1oc3pnb2ljc2VxbHJid2l1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODY3ODIxOTIsImV4cCI6MjEwMjM1ODE5Mn0.jiulFtkEusg-ktDWvVnRmSb35FlZDzySAa5cl7Ct3OU
